@font-face {
    font-family: 'Pixeled';
    src: local("Pixeled"), url("../fonts/Pixeled.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: 'uaBRAND';
    src: local("ua-BRAND-regular"), url("../fonts/ua-BRAND-regular.ttf") format("truetype");
    font-weight: 400;
}